comunication-test.X/build
comunication-test.X/debug
comunication-test.X/dist
comunication-test.X/nbproject/private
comunication-test.X/nbproject/Makefile-default.mk
comunication-test.X/nbproject/Makefile-impl.mk
comunication-test.X/nbproject/Makefile-local-default.mk
comunication-test.X/nbproject/Makefile-variables.mk
comunication-test.X/nbproject/Package-default.bash
!**.proprieties